body {
    color:white;
    background-color: rgb(0, 0, 40);
    padding: 10px;
}

button {
    background-color: lightblue;
    color: #333;
    padding: 5px;
    border: solid 1px lightcoral;
}

button:hover {
    background-color: lightskyblue;
}

textarea {
    background-color: lightsteelblue;
}

#result_display{
    background-color: lightsteelblue;
    width: 100%;
    padding: 5px;
    margin: 10px 0px;
}