* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* body {
    margin: 50px 0px;
} */

button {
    background-color: red;
    border-radius: 50%;
    border: none;
    padding: 3px 6px;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    float: right;
}

button:hover {
    background-color: pink;
}

.completed {
    text-decoration: line-through;
    color: #777;
}

div {
    margin: 10px;
}

footer {
    background-color: #555;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}

header {
    margin-bottom: 30px;
    padding: 30px;
    color: white;
    background-color: #555;
}

label {
    display: inline-block;
    min-width: 100px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px 10px;
}

tr:nth-child(odd) {
    background-color: #eeeeee;
}