body {
    margin: 0px;
}

ul {
    list-style-type: none;
    margin-left: -40px;
}

li {
    padding: 10px;
    background-color: cornflowerblue;
    margin: 5px;
}

ul>a {
    text-decoration: none;
    color: navy;
}

h2 {
    color: navy;
    text-align: center;
    background-color: cornflowerblue;
    margin: 0px;
    padding: 30px 0px;
}